[loggers]
keys=root, all_aneal_clustering, approx_linear_routing, all_aneal_placement, all_aneal_placement_feasibility, exhaustive_search, simulation

[handlers]
keys=fileHandler, consoleHandler

[formatters]
keys=myFormatter

[logger_root]
level=INFO
handlers=consoleHandler


[logger_simulation]
level=INFO
propagate=0
handlers=consoleHandler
qualname=simulation



[logger_all_aneal_placement_feasibility]
level=ERROR
handlers=consoleHandler
propagate=0
qualname=all_aneal_placement_feasibility

[logger_exhaustive_search]
level=ERROR
propagate=0
handlers=fileHandler
qualname=exhaustive_search



[logger_all_aneal_placement]
level=ERROR
propagate=0
handlers=consoleHandler
qualname=all_aneal_placement




[logger_approx_linear_routing]
level=ERROR
handlers=consoleHandler
qualname=approx_linear_routing


[logger_all_aneal_clustering]
level=ERROR
handlers=consoleHandler
qualname=all_aneal_clustering



[handler_consoleHandler]
class=StreamHandler
level=DEBUG
formatter=myFormatter
args=(sys.stdout,)



[handler_fileHandler]
class=FileHandler
formatter=myFormatter
args=("config.log",)

[formatter_myFormatter]
class=logging.Formatter
format=%(asctime)s.%(msecs)03d> %(name)-12s :%(message)s
datefmt=
